{:blocks (
{:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:borderRadius 2
:index 0
:scale [1 1]
:fill ""
:type "box"
:size [276 161]
:strokeType "line"
:strokeWidth 2
:opacity 1
:label ""
:id "be5e5480-cdd3-11ed-8d21-43210cbc5398"
:fontWeight 400
:noFill false
:point [277.5 214.5]
:fontSize 20
:parentId "64239899-a8f3-4050-af84-e2f6a6ae7cc6"
:nonce 1680054483428
:italic false}}
:block/updated-at 1680054484077})
:pages (
{:block/created-at 1680054425184
:block/name "64239899-a8f3-4050-af84-e2f6a6ae7cc6"
:block/properties 
{:ls-type :whiteboard-page
:logseq.tldraw.page 
{:id "64239899-a8f3-4050-af84-e2f6a6ae7cc6"
:name "64239899-a8f3-4050-af84-e2f6a6ae7cc6"
:bindings 
{}
:nonce 1
:assets []
:shapes-index ("be5e5480-cdd3-11ed-8d21-43210cbc5398")}}
:block/type "whiteboard"
:block/updated-at 1680054484077
:block/uuid #uuid "64239899-a8f3-4050-af84-e2f6a6ae7cc6"})}